---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Las leyendas de nuestros pueblos BLOG">
  <main class="flex flex-col md:flex-row items-center justify-center">
    <img src="" alt="Imagen descriptiva" class="w-full md:w-1/2 mb-4 md:mb-0 md:mr-4" />
    <div class="w-full md:w-1/2">
      <h1 class="mb-2 text-3xl font-bold leading-tight">Bienvenidos a <span class="text-gradient">Astro</span></h1>
	  <p class="mb-8 text-lg bg-orange-300 dark:bg-background-light">
		Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit magnam sit suscipit eum culpa ipsam hic,
		nulla et ad? Ea earum maxime quibusdam eligendi inventore alias, saepe ex vel neque!
	  </p>
    </div>
  </main>
</Layout>
